* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
main {
  height: 100%;
  display: grid;
  place-items: center;
}

button {
  border: none;
  height: 60px;
  cursor: pointer;
}

button:hover {
  background-color: lightgray;
}

.calculator {
  width: 90%;
  max-width: 340px;
  background-color: black;
}

.calculator .screen {
  color: white;
  background-color: black;
  font-size: 25px;
  text-align: end;
  padding: 10px 5px;
}

.calculator .body {
  display: flex;
}

.calculator .numbersAndReset {
  width: 80%;
}

.calculator .top-buttons {
  display: flex;
  margin-bottom: 1px;
}

.calculator .reset {
  width: calc(99% / 3);
}

.calculator .undo {
  flex-grow: 1;
  margin-left: 1px;
}

.calculator .numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 1px;
  justify-content: space-between;
}

.calculator .numbers button {
  width: calc(99% / 3);
}

.calculator .numbers button:last-child {
  width: 100%;
}
.calculator .operations {
  width: 20%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: center;
  gap: 1px;
}

.calculator .operations button {
  background-color: rgba(250, 174, 32, 0.975);
  margin-left: 1px;
}

.calculator .operations button:hover {
  background-color: rgba(239, 193, 106, 0.975);
}
